<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
Golfbanor med destinationsladdning

<div id="map" class="map" style="width: 80%;height: 600px;"></div>
<div id="info" style="display: inline;border: 1px black;"></div>
<script type="text/javascript">

var vectorLayer = new ol.layer.Vector({
    source: new ol.source.Vector({
        format: new ol.format.GeoJSON(),
        url: '/_data/poi.json'
    }),
    style: new ol.style.Style({
        image: new ol.style.Circle(({
            radius: 5,
            fill: new ol.style.Fill({
                color: '#ffffff'
            }),
            stroke: new ol.style.Stroke({color: 'black', width: 2})
        }))
    })
});

var map = new ol.Map({
    target: 'map',
    layers: [
        new ol.layer.Tile({
            source: new ol.source.OSM()
        }),
        vectorLayer
    ],
    view: new ol.View({
        center: ol.proj.fromLonLat([15.5, 62.82]),
        zoom: 4
    })
});

var element = document.getElementById('popup');
map.on('click', function (evt) {
  var feature = map.forEachFeatureAtPixel(evt.pixel, function (feature) {
    return feature;
  });
  if (feature) {
    element.innerHTML = 'Namn: ' + feature.values_.Name + '<br>' + 
    'Laddning: ' + feature.values_.Power  + '<br>' + 
    'Antal laddpunkter: ' + feature.values_.Number  + '<br>';
    if(feature.values_.ChargingInfo !== ''){
        element.innerHTML+= '<a href="' + feature.values_.ChargingInfo + '">Länk till info</a>';
    }
  }
  else{
    element.innerHTML = '';
  }

});
</script>

<ul>
{% for feature in site.data.poi.features %}
<li>{{ feature.properties.Name }}</li>
{% endfor %}
</ul>