<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <title>{{site.title}} - {{page.title}}</title>
    <style>
      a {
        color: blue;
        text-decoration: none;
      }
      
      body {
        margin: auto;
        width: 60%;
        padding: 45px;
        font-size: 1.4em;
        font-family: Times, serif;
      }
      h1, h2, h3, h4{
        font-family: Verdana, sans-serif;
      }
      a h1{
        color: black;
      }
      nav a{
        font-family: Verdana, sans-serif;
      }
      .title{
        font-size: 3em;
      }
	    img{
		    display: block;
      }
    </style>
  </head>
  <body>
    <a href="/"><h1 class="title">Rubiks.nu</h1></a>
    <nav>
      <a href="/svorak">Svorak</a> |
      <a href="/rubiks">Lösning till Rubiks Kub</a> |
      <a href="/pikmakarn">Pikmakarn SVART Salomon SNS Profil</a> |
      <a href="/mbldpulse">Multiple blindfolded</a> |
      <a href="/forseglingsvax">Förseglingsvax</a> |
      <a href="/crescent">Crescent 92319 Fastnav</a> |
      <a href="/om">Om</a> |
    </nav>
    <div>
        {{ content }}
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80110791-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
