<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}} - {{page.title}}</title>
    <style>
      a {
        color: blue;
        text-decoration: none;
      }
      body {
        margin: auto;
        width: 60%;
        padding: 45px;
        font-size: 1.4em;
        font-family: Times, serif;
      }
      h1, h2, h3, h4{
        font-family: Verdana, sans-serif;
      }
      nav a{
        font-family: Verdana, sans-serif;
      }
      .title{
        font-size: 3em;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Rubiks.nu</h1>
    <nav>
      <a href="/">Start</a> |
      <a href="/svorak">Svorak</a> |
      <a href="/rubiks">Lösning till Rubiks Kub</a> |
      <a href="/om">Om</a> |
    </nav>
    <div>
        {{ content }}
    </div>
  </body>
</html>
